<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    
     @RenderBody()
    
    
    <script src="~/Scripts/script1.js"></script>    
    <script src="~/Scripts/jquery-3.6.3.js"></script>
</body>
</html>
