
@{
    ViewBag.Title = "Куда хотите перейти?";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewBag.Title</title>
</head>
<body>

    <script src="~/Scripts/script5.js"></script>
    <script src="~/Scripts/script6.js"></script>
</body>
</html>
